In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
#Read in Data
game_data = pd.read_csv('game_data.csv')
play_info = pd.read_csv('play_information.csv')
play_player_role = pd.read_csv('play_player_role_data.csv')
player_punt = pd.read_csv('player_punt_data.csv')
video_footage_control = pd.read_csv('video_footage-control.csv')
video_footage_injury = pd.read_csv('video_footage-injury.csv')
video_review = pd.read_csv('video_review.csv')

In [15]:
NGS_2016_pre = pd.read_csv('NGS-2016-pre.csv')
NGS_2016_post = pd.read_csv('NGS-2016-post.csv')
NGS_2017_pre = pd.read_csv('NGS-2017-pre.csv')
NGS_2017_post = pd.read_csv('NGS-2017-post.csv')

In [ ]:
NGS_2016_wk1_6 = pd.read_csv('NGS-2016-reg-wk1-6.csv')
NGS_2016_wk7_12 = pd.read_csv('NGS-2016-reg-wk7-12.csv')
NGS_2016_wk13_17 = pd.read_csv('NGS-2016-reg-wk13-17.csv')
NGS_2017_wk1_6 = pd.read_csv('NGS-2017-reg-wk1-6.csv')
NGS_2017_wk7_12 = pd.read_csv('NGS-2017-reg-wk7-12.csv')
NGS_2017_wk13_17 = pd.read_csv('NGS-2017-reg-wk13-17.csv')

In [ ]:
NGS_2016 = pd.concat([NGS_2016_wk1_6, NGS_2016_wk7_12, NGS_2016_wk13_17])

In [ ]:
NGS_2017 = pd.concat([NGS_2017_wk1_6, NGS_2017_wk7_12, NGS_2017_wk13_17])

In [ ]:
NGS_df = pd.concat([NGS_2016, NGS_2017])

In [ ]:
len(NGS_df)

In [ ]:
NGS_df.head()

In [ ]:
test_plot = NGS_2016.loc[(NGS_2016.PlayID == 2035) & (NGS_2016.GSISID == 27675)].sort_values('Time')

In [ ]:
player_punt.loc[player_punt.GSISID == 27675]

In [ ]:
player_punt.head()

In [ ]:
play_player_role.loc[(play_player_role.GSISID == 27675) & (play_player_role.PlayID == 2035)]

In [ ]:
play_info.head()

In [ ]:
video_review.head()

In [ ]:
video_footage_injury.iloc[0,9]

#### Who's getting hurt?

In [ ]:
merged_df = video_review.merge(play_player_role, how= 'left', left_on=['GSISID','PlayID','GameKey'], right_on=['GSISID','PlayID','GameKey'])

In [ ]:
player_punt.loc[player_punt.GSISID == 32482]

In [ ]:
play_player_role.loc[(play_player_role.GSISID == 29343) & (play_player_role.PlayID == 2587)]

In [ ]:
merged_df.Role.value_counts()

In [ ]:
len(video_footage_injury)

In [ ]:
ax = plt.plot(test_plot['x'],test_plot['y'])

In [ ]:
gunner_df = NGS_2016_pre.loc[(NGS_2016_pre.GameKey == 5) & (NGS_2016_pre.PlayID == 3129) & (NGS_2016_pre.GSISID == 31057)].sort_values('Time')

In [ ]:
min(gunner_df['Time'])

In [ ]:
max(gunner_df['Time'])

In [ ]:
gunner_df.head(11).dis.sum() * 2.045

In [ ]:
gunner_df.head()

In [ ]:
gunner_df['dis_per_second'] = gunner_df.dis * 10
gunner_df['dis_mph'] = gunner_df['dis_per_second'] * 2.0455

In [ ]:
print(gunner_df.dis_mph[200:250])

In [ ]:
play_player_role.loc[(play_player_role.GameKey == 5) & (play_player_role.PlayID == 3129) & (play_player_role.GSISID == 31057)]

In [ ]:
ax1 = plt.subplot()
ax1.plot(gunner_df['x'], gunner_df['y'])
ax1.set_xlim([0,120])
ax1.set_ylim([0,53.3])

In [ ]:
max(NGS_2016_wk1_6['y'])

In [ ]:
play_info['fair_catch'] = play_info.PlayDescription.str.contains('fair catch')

In [ ]:
play_info.loc[play_info.fair_catch == True].merge(video_review)

In [ ]:
video_footage_injury.loc[video_footage_injury.playid == 2918]

In [ ]:
video_footage_injury.head()

### Does speed correlate with injury?

In [ ]:
video_review.head()

In [ ]:
injury_ngs = video_review.merge(NGS_2016, how ='inner', left_on=['GSISID','PlayID','GameKey'], right_on=['GSISID','PlayID','GameKey'])

In [ ]:
injury_ngs['dis_per_second'] = injury_ngs.dis * 10
injury_ngs['dis_mph'] = injury_ngs.dis_per_second * 2.0455

In [ ]:
injury_ngs.groupby('PlayID')['dis_mph'].agg(max)

In [ ]:
play_info.head()

In [ ]:
play_info = play_info.merge(video_review[['GameKey','PlayID','GSISID']], how = 'left', left_on = ['GameKey','PlayID'], right_on = ['GameKey','PlayID'])

In [ ]:
play_info['injury'] = play_info.GSISID.apply(lambda x: 0 if pd.isnull(x) else 1)

In [ ]:
play_info.fair_catch.value_counts(normalize = True)

In [ ]:
play_info.loc[play_info.injury == 1]['fair_catch'].sum() / len(play_info.loc[play_info.injury == 1])

In [ ]:
play_info.loc[play_info.injury == 1]['fair_catch'].sum() / len(play_info.loc[play_info.injury == 0])

In [ ]:
fair_catches = play_info.loc[play_info.fair_catch == 1]
non_fair_catches = play_info.loc[play_info.fair_catch == 0]

In [ ]:
len(fair_catches.loc[fair_catches.injury == 1]) / float(len(fair_catches)) * 100

In [ ]:
len(non_fair_catches.loc[non_fair_catches.injury == 1]) / float(len(non_fair_catches)) * 100

In [ ]:
(.7-.12) / .12

#### Nearly 5 times more likely to have an injury when there is an actual return

In [ ]:
import plotly

In [ ]:
import plotly.graph_objs as go
from plotly import offline
import plotly.plotly as py
plotly.tools.set_credentials_file(username='mtodisco10', api_key='bCfUmq5FralbymKXY4uX')

In [ ]:
def load_layout():
    """
    Returns a dict for a Football themed Plot.ly layout 
    """
    layout = dict(
        title = "Player Activity",
        plot_bgcolor='darkseagreen',
        showlegend=True,
        xaxis=dict(
            autorange=False,
            range=[0, 120],
            showgrid=False,
            zeroline=False,
            showline=True,
            linecolor='black',
            linewidth=1,
            mirror=True,
            ticks='',
            tickmode='array',
            tickvals=[10,20, 30, 40, 50, 60, 70, 80, 90, 100, 110],
            ticktext=['Goal', 10, 20, 30, 40, 50, 40, 30, 20, 10, 'Goal'],
            showticklabels=True
        ),
        yaxis=dict(
            title='',
            autorange=False,
            range=[-3.3,56.3],
            showgrid=False,
            zeroline=False,
            showline=True,
            linecolor='black',
            linewidth=1,
            mirror=True,
            ticks='',
            showticklabels=False
        ),
        shapes=[
            dict(
                type='line',
                layer='below',
                x0=0,
                y0=0,
                x1=120,
                y1=0,
                line=dict(
                    color='white',
                    width=2
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=0,
                y0=53.3,
                x1=120,
                y1=53.3,
                line=dict(
                    color='white',
                    width=2
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=10,
                y0=0,
                x1=10,
                y1=53.3,
                line=dict(
                    color='white',
                    width=10
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=20,
                y0=0,
                x1=20,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=30,
                y0=0,
                x1=30,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=40,
                y0=0,
                x1=40,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=50,
                y0=0,
                x1=50,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=60,
                y0=0,
                x1=60,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),dict(
                type='line',
                layer='below',
                x0=70,
                y0=0,
                x1=70,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),dict(
                type='line',
                layer='below',
                x0=80,
                y0=0,
                x1=80,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=90,
                y0=0,
                x1=90,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),dict(
                type='line',
                layer='below',
                x0=100,
                y0=0,
                x1=100,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=110,
                y0=0,
                x1=110,
                y1=53.3,
                line=dict(
                    color='white',
                    width=10
                )
            )
        ]
    )
    return layout

layout = load_layout()

In [ ]:
# Loading and plotting functions

def load_plays_for_game(GameKey):
    """
    Returns a dataframe of play data for a given game (GameKey)
    """
    play_information = pd.read_csv('play_information.csv')
    play_information = play_information[play_information['GameKey'] == GameKey]
    return play_information


def load_game_and_ngs(ngs_file=None, GameKey=None):
    """
    Returns a dataframe of player movements (NGS data) for a given game
    """
    if ngs_file is None:
        print("Specifiy an NGS file.")
        return None
    if GameKey is None:
        print('Specify a GameKey')
        return None
    # Merge play data with NGS data    
    plays = load_plays_for_game(GameKey)
    ngs = pd.read_csv(ngs_file, low_memory=False)
    merged = pd.merge(ngs, plays, how="inner", on=["GameKey", "PlayID", "Season_Year"])
    return merged


def plot_play(game_df, PlayID, player1=None, player2=None, custom_layout=False):
    """
    Plots player movements on the field for a given game, play, and two players
    """
    game_df = game_df[game_df.PlayID==PlayID]
    
    GameKey=str(pd.unique(game_df.GameKey)[0])
    HomeTeam = pd.unique(game_df.Home_Team_Visit_Team)[0].split("-")[0]
    VisitingTeam = pd.unique(game_df.Home_Team_Visit_Team)[0].split("-")[1]
    YardLine = game_df[(game_df.PlayID==PlayID) & (game_df.GSISID==player1)]['YardLine'].iloc[0]
    
    traces=[]   
    if (player1 is not None) & (player2 is not None):
        game_df = game_df[ (game_df['GSISID']==player1) | (game_df['GSISID']==player2)]
        for player in pd.unique(game_df.GSISID):
            player = int(player)
            trace = go.Scatter(
                x = game_df[game_df.GSISID==player].x,
                y = game_df[game_df.GSISID==player].y,
                name='GSISID '+str(player),
                mode='markers'
            )
            traces.append(trace)
    else:
        print("Specify GSISIDs for player1 and player2")
        return None
    
    if custom_layout is not True:
        layout = load_layout()
        layout['title'] =  HomeTeam + \
        ' vs. ' + VisitingTeam + \
        '<br>Possession: ' + \
        YardLine.split(" ")[0] +'@'+YardLine.split(" ")[1]
    data = traces
    fig = dict(data=data, layout=layout)
    play_description = game_df[(game_df.PlayID==PlayID) & (game_df.GSISID==player1)].iloc[0]["PlayDescription"]
    print("\n\n\t",play_description)
    #py.iplot(fig,filename='jupyter-table1')
    offline.iplot(fig)

In [ ]:
game280 = load_game_and_ngs('NGS-2016-reg-wk13-17.csv',GameKey=280)

In [ ]:
plot_play(game_df=game280, PlayID=2918, player1=32120, player2=32725)

In [ ]:
video_review.head()

In [ ]:
player = NGS_2016_pre.loc[(NGS_2016_pre.PlayID == 3129) & (NGS_2016_pre.GSISID == 31057) 
                          & (NGS_2016_pre.GameKey == 5)]

In [ ]:
partner = NGS_2016_pre.loc[(NGS_2016_pre.PlayID == 3129) & (NGS_2016_pre.GSISID == 32482) & 
                           (NGS_2016_pre.GameKey == 5)]

In [ ]:
player.loc[player.Event.notnull()].sort_values('Time')

In [ ]:
partner.loc[partner.Time == '2016-08-12 02:07:48.300']

In [ ]:
player = player[['x','y','dis']]

In [ ]:
partner.sort_values('Time').head()

In [ ]:
player_partner

In [ ]:
next_gen_data.head()

In [ ]:
#MAX_Speed, AVG_Speed

In [ ]:
next_gen_data = pd.read_csv('NGS-2016-pre.csv')

In [ ]:
playId = 3129
gameKey = 5
gsisid = 31057

In [ ]:
play_info.loc[(play_info.GameKey == gameKey) & (play_info.PlayID == playId)]

In [ ]:
video_review.loc[(video_review.PlayID == playId)]

In [10]:
def get_speed(ng_data, playId, gameKey, player, partner):
    ng_data = pd.read_csv(ng_data)
    ng_data['mph'] = convert_to_mph(ng_data['dis'], 20.455)
    player_data = ng_data.loc[(ng_data.GameKey == gameKey) & (ng_data.PlayID == playId) 
                               & (ng_data.GSISID == player)].sort_values('Time')
    partner_data = ng_data.loc[(ng_data.GameKey == gameKey) & (ng_data.PlayID == playId) 
                              & (ng_data.GSISID == partner)].sort_values('Time')
    player_grouped = player_data.groupby(['GameKey','PlayID','GSISID'], 
                               as_index = False)['mph'].agg({'max_mph': max,
                                                             'avg_mph': np.mean
                                                            })
    player_grouped['involvement'] = 'player_injured'
    partner_grouped = partner_data.groupby(['GameKey','PlayID','GSISID'], 
                               as_index = False)['mph'].agg({'max_mph': max,
                                                             'avg_mph': np.mean
                                                            })
    partner_grouped['involvement'] = 'primary_partner'
    return pd.concat([player_grouped, partner_grouped], axis = 0)[['involvement',
                                                                   'max_mph',
                                                                   'avg_mph']].reset_index(drop=True)

In [11]:
def convert_to_mph(dis_vector, converter):
    mph_vector = dis_vector * converter
    return mph_vector

In [12]:
get_speed('NGS-2016-pre.csv', 3129, 5, 31057, 32482)

       involvement   max_mph   avg_mph
0   player_injured  18.40950  5.229332
1  primary_partner  15.75035  4.083396

### Identify 2 gunner blockers

In [159]:
gunners = NGS_2016_pre

In [172]:
g_merge = gunners.merge(play_player_role, how = 'inner', on = ['Season_Year','GameKey','PlayID','GSISID']).sort_values('Time')

In [173]:
# ax1 = plt.subplot()
# ax1.scatter(g_merge.loc[g_merge.Event == 'line_set']['x'].reset_index(drop=True)
#             ,g_merge.loc[g_merge.Event == 'line_set']['y'].reset_index(drop=True))
# ax1.set_xlim([0,120])
# ax1.set_ylim([0,53.3])
# for i, txt in enumerate(g_merge.loc[g_merge.Event == 'line_set'].reset_index(drop=True)['Role']):
#     ax1.annotate(txt,xy=(g_merge.loc[g_merge.Event == 'line_set']['x'].reset_index(drop=True)[i]
#                            ,g_merge.loc[g_merge.Event == 'line_set']['y'].reset_index(drop=True)[i]))

In [174]:
return_roles = ['PDL1','PDL2','PDL3','PDL4','PDL5','PDL6','PDM','PDR1','PDR2','PDR3','PDR4','PDR5','PDR6'
                ,'PFB','PLL','PLL1','PLL2','PLL3','PLM','PLM1','PLR','PLR1','PLR2','PLR3','PR','VL','VLi'
                ,'VLo','VR','VRi','VRo']

coverage_roles = ['GL','GLi','GLo','GR','GRi','GRo','P','PC','PLG','PLS','PLT','PLW','PPL','PPLi','PPLo'
                 ,'PPR','PPRi','PPRo','PRG','PRT','PRW']

In [175]:
gunner_blockers = ['VL','VLi','VLo','VR','VRi','VRo']

In [176]:
g_pre_snap = g_merge.loc[(g_merge['Role'].isin(gunner_blockers)) & (g_merge['Event'] == 'line_set')]

In [177]:
g_pre_snap.loc[(g_pre_snap.GameKey==51) & (g_pre_snap.PlayID==3263)].sort_values('Role')

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event,Role
4077485,2016,51,3263,32944,2016-09-02 02:37:28.700,58.130001,9.070000,0.02,150.800003,52.889999,line_set,VLi
4077503,2016,51,3263,32944,2016-09-02 02:37:31.200,58.119999,8.760000,0.16,141.059998,160.949997,line_set,VLi
4078240,2016,51,3263,32676,2016-09-02 02:37:28.700,57.910000,6.970000,0.02,191.270004,329.100006,line_set,VLo
4078259,2016,51,3263,32676,2016-09-02 02:37:31.200,58.000000,6.500000,0.21,188.369995,164.910004,line_set,VLo
4078596,2016,51,3263,31397,2016-09-02 02:37:28.700,57.599998,44.849998,0.04,186.889999,329.880005,line_set,VRi
4078614,2016,51,3263,31397,2016-09-02 02:37:31.200,57.509998,44.459999,0.14,192.970001,182.619995,line_set,VRi
4079730,2016,51,3263,32673,2016-09-02 02:37:28.700,57.590000,47.040001,0.02,175.960007,266.500000,line_set,VRo
4079747,2016,51,3263,32673,2016-09-02 02:37:31.200,57.630001,46.830002,0.18,169.800003,187.759995,line_set,VRo

In [179]:
play_player_role.loc[(play_player_role.GameKey==51) & (play_player_role.PlayID==3263)].sort_values('Role')

        Season_Year  GameKey  PlayID  GSISID  Role
127662         2016       51    3263   32849    GL
122459         2016       51    3263   32611    GR
46802          2016       51    3263   30405     P
129811         2016       51    3263   32945  PDL1
94362          2016       51    3263   31815  PDL2
49984          2016       51    3263   30129  PDL3
124638         2016       51    3263   32672  PDR1
110522         2016       51    3263   33112  PDR2
105613         2016       51    3263   33110  PDR3
93938          2016       51    3263   31803   PLG
52398          2016       51    3263   29879   PLS
109363         2016       51    3263   32422   PLT
122442         2016       51    3263   32608   PLW
93864          2016       51    3263   31799   PPR
125332         2016       51    3263   32679    PR
111547         2016       51    3263   32430   PRG
122410         2016       51    3263   32606   PRT
116033         2016       51    3263   32454   PRW
129795         2016       51    3263   32944   VLi
124869         2016       51    3263   32676   VLo
68117          2016       51    3263   31397   VRi
124659         2016       51    3263   32673   VRo

In [181]:
g_pre_snap.groupby(['Season_Year','GameKey','PlayID'], as_index=False)['Role'].agg({'gunner_blocker_count': 'count'}).sort_values('gunner_blocker_count', ascending =False)

     Season_Year  GameKey  PlayID  gunner_blocker_count
536         2016       51    3263                     8
140         2016       15    1647                     8
187         2016       19     913                     8
46          2016        7    2551                     8
143         2016       15    3248                     6
0           2016        3     455                     4
372         2016       37    3747                     4
393         2016       39    2519                     4
391         2016       39    1196                     4
390         2016       39    1047                     4
387         2016       38    4190                     4
386         2016       38    3818                     4
384         2016       38    3485                     4
382         2016       38    2700                     4
378         2016       38     971                     4
374         2016       37    4264                     4
370         2016       37    3141                     4
371         2016       37    3655                     4
398         2016       39    3470                     4
369         2016       37    2815                     4
368         2016       37    2728                     4
367         2016       37    2540                     4
366         2016       37    2446                     4
365         2016       37    2116                     4
363         2016       37     710                     4
361         2016       36    3783                     4
359         2016       36    3430                     4
358         2016       36    2823                     4
357         2016       36    2337                     4
352         2016       35    3363                     4
..           ...      ...     ...                   ...
100         2016       11    2025                     2
350         2016       35    2444                     2
548         2016       52    3623                     2
547         2016       52    3527                     2
98          2016       11    1429                     2
388         2016       39     226                     2
385         2016       38    3731                     2
383         2016       38    3371                     2
523         2016       50    3423                     2
379         2016       38    1330                     2
157         2016       16    2348                     2
526         2016       51     750                     2
377         2016       38     816                     2
92          2016       10    3432                     2
529         2016       51    1169                     2
531         2016       51    1461                     2
159         2016       16    2754                     2
535         2016       51    3111                     2
89          2016       10    2693                     2
362         2016       37     599                     2
540         2016       52     452                     2
541         2016       52     654                     2
544         2016       52    2147                     2
545         2016       52    2537                     2
354         2016       36    1152                     2
345         2016       34    3406                     2
6           2016        4     291                     1
7           2016        4     386                     1
405         2016       40    3777                     1
120         2016       13    3025                     1

[691 rows x 4 columns]

In [106]:
g_merge.loc[g_merge['Event'] == 'line_set'].Role.unique()

array(['PLL1', 'PDL3', 'PLL2', 'PDR1', 'PLR', 'PDL2', 'PLW', 'GR', 'PRW',
       'PRT', 'PLT', 'PLS', 'VL', 'PPR', 'PR', 'PRG', 'GL', 'P', 'PDR2',
       'VR', 'PLG', 'PDL1'], dtype=object)

In [122]:
sorted(play_player_role.Role.unique())[40:]

['PPRi',
 'PPRo',
 'PR',
 'PRG',
 'PRT',
 'PRW',
 'VL',
 'VLi',
 'VLo',
 'VR',
 'VRi',
 'VRo']

In [70]:
g_merge.loc[g_merge.Role.str.contains('PD')== True]['Role'].value_counts()

PDL2    269
PDL1    269
PDR3    269
PDR2    269
PDR1    269
Name: Role, dtype: int64

In [43]:
NGS_2016_pre.loc[NGS_2016_pre.Event == 'line_set']

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event
14831,2016,3,3949,24417.0,2016-08-12 02:26:21.700,4.840000,24.690001,0.04,28.690001,33.150002,line_set
14832,2016,3,3949,33078.0,2016-08-12 02:26:21.700,13.490000,23.120001,0.06,14.240000,153.919998,line_set
14833,2016,3,3949,30034.0,2016-08-12 02:26:21.700,17.990000,43.110001,0.03,354.489990,93.269997,line_set
14834,2016,3,3949,32386.0,2016-08-12 02:26:21.700,16.889999,26.180000,0.05,355.299988,16.010000,line_set
14835,2016,3,3949,27557.0,2016-08-12 02:26:21.700,18.090000,23.680000,0.01,321.329987,192.360001,line_set
14836,2016,3,3949,32573.0,2016-08-12 02:26:21.700,17.170000,21.200001,0.04,329.540009,175.970001,line_set
14837,2016,3,3949,31762.0,2016-08-12 02:26:21.700,17.430000,24.780001,0.02,353.630005,54.070000,line_set
14838,2016,3,3949,30559.0,2016-08-12 02:26:21.700,15.520000,26.750000,0.07,353.570007,189.630005,line_set
14839,2016,3,3949,31338.0,2016-08-12 02:26:21.700,15.390000,19.879999,0.05,11.300000,152.009995,line_set
14840,2016,3,3949,31773.0,2016-08-12 02:26:21.700,17.850000,5.310000,0.03,27.000000,112.910004,line_set
14841,2016,3,3949,27831.0,2016-08-12 02:26:21.700,17.450001,22.709999,0.01,10.370000,102.709999,line_set
14842,2016,3,3949,31868.0,2016-08-12 02:26:21.700,67.910004,23.110001,0.01,181.949997,233.880005,line_set
14843,2016,3,3949,32998.0,2016-08-12 02:26:21.700,19.520000,26.690001,0.01,154.020004,175.679993,line_set
14844,2016,3,3949,32994.0,2016-08-12 02:26:21.700,19.540001,21.170000,0.22,190.490005,266.190002,line_set
14845,2016,3,3949,28995.0,2016-08-12 02:26:21.700,19.650000,19.080000,0.05,247.279999,320.660004,line_set
14846,2016,3,3949,29297.0,2016-08-12 02:26:21.700,21.059999,17.219999,0.13,169.750000,265.839996,line_set
14847,2016,3,3949,27840.0,2016-08-12 02:26:21.700,19.790001,29.389999,0.09,133.869995,192.600006,line_set
14848,2016,3,3949,NaN,2016-08-12 02:26:21.700,19.520000,22.260000,0.01,199.809998,233.809998,line_set
14849,2016,3,3949,31875.0,2016-08-12 02:26:21.700,19.590000,25.000000,0.02,181.889999,180.229996,line_set
14850,2016,3,3949,30675.0,2016-08-12 02:26:21.700,19.990000,6.120000,0.05,173.050003,200.119995,line_set
14851,2016,3,3949,32891.0,2016-08-12 02:26:21.700,22.340000,41.910000,0.06,182.809998,329.980011,line_set
14852,2016,3,3949,31121.0,2016-08-12 02:26:21.700,19.530001,27.770000,0.02,153.639999,154.259995,line_set
46301,2016,3,2643,30034.0,2016-08-12 01:31:50.200,62.520000,22.180000,0.06,178.970001,280.829987,line_set
46302,2016,3,2643,32386.0,2016-08-12 01:31:50.200,59.680000,26.620001,0.09,174.259995,274.829987,line_set
46303,2016,3,2643,33019.0,2016-08-12 01:31:50.200,59.700001,45.709999,0.03,159.520004,128.250000,line_set
46304,2016,3,2643,32770.0,2016-08-12 01:31:50.200,59.410000,6.110000,0.05,276.720001,276.510010,line_set
46305,2016,3,2643,32572.0,2016-08-12 01:31:50.200,60.049999,22.110001,0.03,163.919998,247.330002,line_set
46306,2016,3,2643,32573.0,2016-08-12 01:31:50.200,59.459999,25.480000,0.03,170.330002,286.179993,line_set
46307,2016,3,2643,31762.0,2016-08-12 01:31:50.200,59.520000,20.740000,0.08,179.710007,334.829987,line_set
46308,2016,3,2643,26764.0,2016-08-12 01:31:50.200,59.349998,28.230000,0.02,176.100006,250.449997,line_set
...,...,...,...,...,...,...,...,...,...,...,...
6817690,2016,65,1049,28121.0,2016-09-02 00:16:40.000,61.770000,28.129999,0.05,350.600006,122.919998,line_set
6817691,2016,65,1049,29744.0,2016-09-02 00:16:40.000,63.930000,32.509998,0.02,18.110001,61.900002,line_set
6817692,2016,65,1049,32353.0,2016-09-02 00:16:40.000,64.610001,8.770000,0.03,9.480000,282.420013,line_set
6817693,2016,65,1049,27187.0,2016-09-02 00:16:40.000,65.129997,30.180000,0.02,324.579987,357.709991,line_set
6817694,2016,65,1049,32406.0,2016-09-02 00:16:40.000,64.230003,31.129999,0.01,7.170000,4.440000,line_set
6817695,2016,65,1049,30854.0,2016-09-02 00:16:40.000,62.020000,33.160000,0.02,349.739990,354.420013,line_set
6817696,2016,65,1049,33155.0,2016-09-02 00:16:40.000,65.019997,44.200001,0.03,28.889999,124.709999,line_set
6817697,2016,65,1049,27145.0,2016-09-02 00:16:40.000,51.680000,30.549999,0.01,9.080000,76.309998,line_set
6824599,2016,65,593,32807.0,2016-09-01 23:56:39.800,81.449997,34.070000,0.02,15.610000,83.930000,line_set
6824600,2016,65,593,32540.0,2016-09-01 23:56:39.800,79.820000,30.850000,0.04,1.840000,102.370003,line_set
6824601,2016,65,593,32168.0,2016-09-01 23:56:39.800,80.739998,44.930000,0.08,358.040009,155.570007,line_set
6824602,2016,65,593,32069.0,2016-09-01 23:56:39.800,81.199997,23.959999,0.03,356.200012,67.320000,line_set
6824603,2016,65,593,32167.0,2016-09-01 23:56:39.800,81.099998,32.570000,0.04,22.330000,128.570007,line_set
6824604,2016,65,593,31791.0,2016-09-01 23:56:39.800,81.129997,26.900000,0.01,351.019989,124.110001,line_set
6824605,2016,65,593,32543.0,2016-09-01 23:56:39.800,32.060001,31.090000,0.04,343.390015,35.230000,line_set
6824606,2016,65,593,28102.0,2016-09-01 23:56:39.800,81.160004,46.380001,0.03,41.200001,114.279999,line_set
6824607,2016,65,593,32892.0,2016-09-01 23:56:39.800,81.209999,25.540001,0.13,290.250000,20.500000,line_set
6824608,2016,65,593,30449.0,2016-09-01 23:56:39.800,81.900002,28.600000,0.07,338.190002,87.330002,line_set
6824609,2016,65,593,29696.0,2016-09-01 23:56:39.800,80.839996,7.960000,0.02,7.840000,57.990002,line_set
6824610,2016,65,593,32452.0,2016-09-01 23:56:39.800,83.930000,30.969999,0.04,169.850006,205.869995,line_set
6824611,2016,65,593,29273.0,2016-09-01 23:56:39.800,85.330002,33.180000,0.05,190.830002,104.809998,line_set
6824612,2016,65,593,31704.0,2016-09-01 23:56:39.800,83.889999,32.340000,0.06,160.910004,140.990005,line_set
6824613,2016,65,593,28121.0,2016-09-01 23:56:39.800,86.199997,30.870001,0.07,150.270004,94.930000,line_set
6824727,2016,65,593,29744.0,2016-09-01 23:56:39.800,84.290001,26.910000,0.03,165.250000,167.309998,line_set
6824728,2016,65,593,27187.0,2016-09-01 23:56:39.800,83.300003,29.520000,0.02,130.100006,294.570007,line_set
6824729,2016,65,593,29142.0,2016-09-01 23:56:39.800,83.410004,45.919998,0.01,172.509995,312.529999,line_set
6824730,2016,65,593,32406.0,2016-09-01 23:56:39.800,84.019997,28.420000,0.03,194.979996,206.460007,line_set
6824731,2016,65,593,30854.0,2016-09-01 23:56:39.800,86.080002,26.459999,0.03,155.699997,149.979996,line_set
6824732,2016,65,593,30734.0,2016-09-01 23:56:39.800,83.389999,7.420000,0.04,183.270004,83.160004,line_set
6824733,2016,65,593,27145.0,2016-09-01 23:56:39.800,96.900002,28.270000,0.01,208.369995,210.820007,line_set