In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [179]:
#Read in Data
game_data = pd.read_csv('game_data.csv')
play_info = pd.read_csv('play_information.csv')
play_player_role = pd.read_csv('play_player_role_data.csv')
player_punt = pd.read_csv('player_punt_data.csv')
video_footage_control = pd.read_csv('video_footage-control.csv')
video_footage_injury = pd.read_csv('video_footage-injury.csv')
video_review = pd.read_csv('video_review.csv')

In [8]:
NGS_2016_pre = pd.read_csv('NGS-2016-pre.csv')
NGS_2016_post = pd.read_csv('NGS-2016-post.csv')
NGS_2017_pre = pd.read_csv('NGS-2017-pre.csv')
NGS_2017_post = pd.read_csv('NGS-2017-post.csv')

In [120]:
NGS_2016_wk1_6 = pd.read_csv('NGS-2016-reg-wk1-6.csv')
NGS_2016_wk7_12 = pd.read_csv('NGS-2016-reg-wk7-12.csv')
NGS_2016_wk13_17 = pd.read_csv('NGS-2016-reg-wk13-17.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
NGS_2017_wk1_6 = pd.read_csv('NGS-2017-reg-wk1-6.csv')
NGS_2017_wk7_12 = pd.read_csv('NGS-2017-reg-wk7-12.csv')
NGS_2017_wk13_17 = pd.read_csv('NGS-2017-reg-wk13-17.csv')

In [121]:
NGS_2016 = pd.concat([NGS_2016_wk1_6, NGS_2016_wk7_12, NGS_2016_wk13_17])

In [ ]:
NGS_2017 = pd.concat([NGS_2017_wk1_6, NGS_2017_wk7_12, NGS_2017_wk13_17])

In [ ]:
NGS_df = pd.concat([NGS_2016, NGS_2017])

In [ ]:
len(NGS_df)

In [ ]:
NGS_df.head()

In [ ]:
test_plot = NGS_2016.loc[(NGS_2016.PlayID == 2035) & (NGS_2016.GSISID == 27675)].sort_values('Time')

In [ ]:
player_punt.loc[player_punt.GSISID == 27675]

In [ ]:
player_punt.head()

In [ ]:
play_player_role.loc[(play_player_role.GSISID == 27675) & (play_player_role.PlayID == 2035)]

In [ ]:
play_info.head()

In [ ]:
video_review.head()

In [ ]:
video_footage_injury.iloc[0,9]

#### Who's getting hurt?

In [ ]:
merged_df = video_review.merge(play_player_role, how= 'left', left_on=['GSISID','PlayID','GameKey'], right_on=['GSISID','PlayID','GameKey'])

In [ ]:
player_punt.loc[player_punt.GSISID == 32482]

In [ ]:
play_player_role.loc[(play_player_role.GSISID == 29343) & (play_player_role.PlayID == 2587)]

In [ ]:
merged_df.Role.value_counts()

In [ ]:
len(video_footage_injury)

In [ ]:
ax = plt.plot(test_plot['x'],test_plot['y'])

In [ ]:
gunner_df = NGS_2016_pre.loc[(NGS_2016_pre.GameKey == 5) & (NGS_2016_pre.PlayID == 3129) & (NGS_2016_pre.GSISID == 31057)].sort_values('Time')

In [ ]:
min(gunner_df['Time'])

In [ ]:
max(gunner_df['Time'])

In [ ]:
gunner_df.head(11).dis.sum() * 2.045

In [ ]:
gunner_df.head()

In [ ]:
gunner_df['dis_per_second'] = gunner_df.dis * 10
gunner_df['dis_mph'] = gunner_df['dis_per_second'] * 2.0455

In [ ]:
print(gunner_df.dis_mph[200:250])

In [ ]:
play_player_role.loc[(play_player_role.GameKey == 5) & (play_player_role.PlayID == 3129) & (play_player_role.GSISID == 31057)]

In [ ]:
ax1 = plt.subplot()
ax1.plot(gunner_df['x'], gunner_df['y'])
ax1.set_xlim([0,120])
ax1.set_ylim([0,53.3])

In [ ]:
max(NGS_2016_wk1_6['y'])

In [ ]:
play_info['fair_catch'] = play_info.PlayDescription.str.contains('fair catch')

In [ ]:
play_info.loc[play_info.fair_catch == True].merge(video_review)

In [ ]:
video_footage_injury.loc[video_footage_injury.playid == 2918]

In [ ]:
video_footage_injury.head()

### Does speed correlate with injury?

In [ ]:
video_review.head()

In [ ]:
injury_ngs = video_review.merge(NGS_2016, how ='inner', left_on=['GSISID','PlayID','GameKey'], right_on=['GSISID','PlayID','GameKey'])

In [ ]:
injury_ngs['dis_per_second'] = injury_ngs.dis * 10
injury_ngs['dis_mph'] = injury_ngs.dis_per_second * 2.0455

In [ ]:
injury_ngs.groupby('PlayID')['dis_mph'].agg(max)

In [ ]:
play_info.head()

In [ ]:
play_info = play_info.merge(video_review[['GameKey','PlayID','GSISID']], how = 'left', left_on = ['GameKey','PlayID'], right_on = ['GameKey','PlayID'])

In [ ]:
play_info['injury'] = play_info.GSISID.apply(lambda x: 0 if pd.isnull(x) else 1)

In [ ]:
play_info.fair_catch.value_counts(normalize = True)

In [ ]:
play_info.loc[play_info.injury == 1]['fair_catch'].sum() / len(play_info.loc[play_info.injury == 1])

In [ ]:
play_info.loc[play_info.injury == 1]['fair_catch'].sum() / len(play_info.loc[play_info.injury == 0])

In [ ]:
fair_catches = play_info.loc[play_info.fair_catch == 1]
non_fair_catches = play_info.loc[play_info.fair_catch == 0]

In [ ]:
len(fair_catches.loc[fair_catches.injury == 1]) / float(len(fair_catches)) * 100

In [ ]:
len(non_fair_catches.loc[non_fair_catches.injury == 1]) / float(len(non_fair_catches)) * 100

In [ ]:
(.7-.12) / .12

#### Nearly 5 times more likely to have an injury when there is an actual return

In [ ]:
import plotly

In [ ]:
import plotly.graph_objs as go
from plotly import offline
import plotly.plotly as py
plotly.tools.set_credentials_file(username='mtodisco10', api_key='bCfUmq5FralbymKXY4uX')

In [ ]:
def load_layout():
    """
    Returns a dict for a Football themed Plot.ly layout 
    """
    layout = dict(
        title = "Player Activity",
        plot_bgcolor='darkseagreen',
        showlegend=True,
        xaxis=dict(
            autorange=False,
            range=[0, 120],
            showgrid=False,
            zeroline=False,
            showline=True,
            linecolor='black',
            linewidth=1,
            mirror=True,
            ticks='',
            tickmode='array',
            tickvals=[10,20, 30, 40, 50, 60, 70, 80, 90, 100, 110],
            ticktext=['Goal', 10, 20, 30, 40, 50, 40, 30, 20, 10, 'Goal'],
            showticklabels=True
        ),
        yaxis=dict(
            title='',
            autorange=False,
            range=[-3.3,56.3],
            showgrid=False,
            zeroline=False,
            showline=True,
            linecolor='black',
            linewidth=1,
            mirror=True,
            ticks='',
            showticklabels=False
        ),
        shapes=[
            dict(
                type='line',
                layer='below',
                x0=0,
                y0=0,
                x1=120,
                y1=0,
                line=dict(
                    color='white',
                    width=2
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=0,
                y0=53.3,
                x1=120,
                y1=53.3,
                line=dict(
                    color='white',
                    width=2
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=10,
                y0=0,
                x1=10,
                y1=53.3,
                line=dict(
                    color='white',
                    width=10
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=20,
                y0=0,
                x1=20,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=30,
                y0=0,
                x1=30,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=40,
                y0=0,
                x1=40,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=50,
                y0=0,
                x1=50,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=60,
                y0=0,
                x1=60,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),dict(
                type='line',
                layer='below',
                x0=70,
                y0=0,
                x1=70,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),dict(
                type='line',
                layer='below',
                x0=80,
                y0=0,
                x1=80,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=90,
                y0=0,
                x1=90,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),dict(
                type='line',
                layer='below',
                x0=100,
                y0=0,
                x1=100,
                y1=53.3,
                line=dict(
                    color='white'
                )
            ),
            dict(
                type='line',
                layer='below',
                x0=110,
                y0=0,
                x1=110,
                y1=53.3,
                line=dict(
                    color='white',
                    width=10
                )
            )
        ]
    )
    return layout

layout = load_layout()

In [ ]:
# Loading and plotting functions

def load_plays_for_game(GameKey):
    """
    Returns a dataframe of play data for a given game (GameKey)
    """
    play_information = pd.read_csv('play_information.csv')
    play_information = play_information[play_information['GameKey'] == GameKey]
    return play_information


def load_game_and_ngs(ngs_file=None, GameKey=None):
    """
    Returns a dataframe of player movements (NGS data) for a given game
    """
    if ngs_file is None:
        print("Specifiy an NGS file.")
        return None
    if GameKey is None:
        print('Specify a GameKey')
        return None
    # Merge play data with NGS data    
    plays = load_plays_for_game(GameKey)
    ngs = pd.read_csv(ngs_file, low_memory=False)
    merged = pd.merge(ngs, plays, how="inner", on=["GameKey", "PlayID", "Season_Year"])
    return merged


def plot_play(game_df, PlayID, player1=None, player2=None, custom_layout=False):
    """
    Plots player movements on the field for a given game, play, and two players
    """
    game_df = game_df[game_df.PlayID==PlayID]
    
    GameKey=str(pd.unique(game_df.GameKey)[0])
    HomeTeam = pd.unique(game_df.Home_Team_Visit_Team)[0].split("-")[0]
    VisitingTeam = pd.unique(game_df.Home_Team_Visit_Team)[0].split("-")[1]
    YardLine = game_df[(game_df.PlayID==PlayID) & (game_df.GSISID==player1)]['YardLine'].iloc[0]
    
    traces=[]   
    if (player1 is not None) & (player2 is not None):
        game_df = game_df[ (game_df['GSISID']==player1) | (game_df['GSISID']==player2)]
        for player in pd.unique(game_df.GSISID):
            player = int(player)
            trace = go.Scatter(
                x = game_df[game_df.GSISID==player].x,
                y = game_df[game_df.GSISID==player].y,
                name='GSISID '+str(player),
                mode='markers'
            )
            traces.append(trace)
    else:
        print("Specify GSISIDs for player1 and player2")
        return None
    
    if custom_layout is not True:
        layout = load_layout()
        layout['title'] =  HomeTeam + \
        ' vs. ' + VisitingTeam + \
        '<br>Possession: ' + \
        YardLine.split(" ")[0] +'@'+YardLine.split(" ")[1]
    data = traces
    fig = dict(data=data, layout=layout)
    play_description = game_df[(game_df.PlayID==PlayID) & (game_df.GSISID==player1)].iloc[0]["PlayDescription"]
    print("\n\n\t",play_description)
    #py.iplot(fig,filename='jupyter-table1')
    offline.iplot(fig)

In [ ]:
game280 = load_game_and_ngs('NGS-2016-reg-wk13-17.csv',GameKey=280)

In [ ]:
plot_play(game_df=game280, PlayID=2918, player1=32120, player2=32725)

In [ ]:
video_review.head()

In [ ]:
player = NGS_2016_pre.loc[(NGS_2016_pre.PlayID == 3129) & (NGS_2016_pre.GSISID == 31057) 
                          & (NGS_2016_pre.GameKey == 5)]

In [ ]:
partner = NGS_2016_pre.loc[(NGS_2016_pre.PlayID == 3129) & (NGS_2016_pre.GSISID == 32482) & 
                           (NGS_2016_pre.GameKey == 5)]

In [ ]:
player.loc[player.Event.notnull()].sort_values('Time')

In [ ]:
partner.loc[partner.Time == '2016-08-12 02:07:48.300']

In [ ]:
player = player[['x','y','dis']]

In [ ]:
partner.sort_values('Time').head()

In [ ]:
player_partner

In [ ]:
next_gen_data.head()

In [ ]:
#MAX_Speed, AVG_Speed

In [ ]:
next_gen_data = pd.read_csv('NGS-2016-pre.csv')

In [ ]:
playId = 3129
gameKey = 5
gsisid = 31057

In [ ]:
play_info.loc[(play_info.GameKey == gameKey) & (play_info.PlayID == playId)]

In [ ]:
video_review.loc[(video_review.PlayID == playId)]

In [2]:
def get_speed(ng_data, playId, gameKey, player, partner):
    ng_data = pd.read_csv(ng_data)
    ng_data['mph'] = convert_to_mph(ng_data['dis'], 20.455)
    player_data = ng_data.loc[(ng_data.GameKey == gameKey) & (ng_data.PlayID == playId) 
                               & (ng_data.GSISID == player)].sort_values('Time')
    partner_data = ng_data.loc[(ng_data.GameKey == gameKey) & (ng_data.PlayID == playId) 
                              & (ng_data.GSISID == partner)].sort_values('Time')
    player_grouped = player_data.groupby(['GameKey','PlayID','GSISID'], 
                               as_index = False)['mph'].agg({'max_mph': max,
                                                             'avg_mph': np.mean
                                                            })
    player_grouped['involvement'] = 'player_injured'
    partner_grouped = partner_data.groupby(['GameKey','PlayID','GSISID'], 
                               as_index = False)['mph'].agg({'max_mph': max,
                                                             'avg_mph': np.mean
                                                            })
    partner_grouped['involvement'] = 'primary_partner'
    return pd.concat([player_grouped, partner_grouped], axis = 0)[['involvement',
                                                                   'max_mph',
                                                                   'avg_mph']].reset_index(drop=True)

In [3]:
def convert_to_mph(dis_vector, converter):
    mph_vector = dis_vector * converter
    return mph_vector

In [4]:
get_speed('NGS-2016-pre.csv', 3129, 5, 31057, 32482)

       involvement   max_mph   avg_mph
0   player_injured  18.40950  5.229332
1  primary_partner  15.75035  4.083396

### Identify 2 gunner blockers

In [84]:
# for each game,  count how many players are gunner blockers.
# does this correlate with more returns?  more injuries?

In [122]:
gunners = NGS_2016

In [123]:
gunners.head()

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event
0,2016,66,2035,27675.0,2016-09-09 02:22:30.700,71.959999,30.809999,0.55,196.910004,282.000000,NaN
1,2016,66,2035,31550.0,2016-09-09 02:22:30.700,53.910000,29.980000,0.82,185.470001,275.890015,NaN
2,2016,66,2035,30463.0,2016-09-09 02:22:30.700,57.770000,22.260000,0.71,176.639999,267.309998,NaN
3,2016,66,2035,22824.0,2016-09-09 02:22:30.800,74.070000,26.910000,0.08,167.850006,19.540001,NaN
4,2016,66,2035,32994.0,2016-09-09 02:22:30.800,56.540001,33.080002,0.86,193.350006,285.429993,NaN

In [124]:
rank_df = gunners.loc[(gunners.Season_Year == 2016) & (gunners.Event == 'ball_snap')].sort_values('Time')

In [126]:
rank_df['rank'] = rank_df.groupby(['Season_Year','GameKey','PlayID','GSISID']).cumcount() +1

In [127]:
rank_df = rank_df.loc[rank_df['rank'] == 1]

In [128]:
g_merge = rank_df.merge(play_player_role, how = 'inner', on = ['Season_Year','GameKey','PlayID','GSISID'])

In [130]:
# ax1 = plt.subplot()
# ax1.scatter(g_merge.loc[g_merge.Event == 'line_set']['x'].reset_index(drop=True)
#             ,g_merge.loc[g_merge.Event == 'line_set']['y'].reset_index(drop=True))
# ax1.set_xlim([0,120])
# ax1.set_ylim([0,53.3])
# for i, txt in enumerate(g_merge.loc[g_merge.Event == 'line_set'].reset_index(drop=True)['Role']):
#     ax1.annotate(txt,xy=(g_merge.loc[g_merge.Event == 'line_set']['x'].reset_index(drop=True)[i]
#                            ,g_merge.loc[g_merge.Event == 'line_set']['y'].reset_index(drop=True)[i]))

In [131]:
return_roles = ['PDL1','PDL2','PDL3','PDL4','PDL5','PDL6','PDM','PDR1','PDR2','PDR3','PDR4','PDR5','PDR6'
                ,'PFB','PLL','PLL1','PLL2','PLL3','PLM','PLM1','PLR','PLR1','PLR2','PLR3','PR','VL','VLi'
                ,'VLo','VR','VRi','VRo']

coverage_roles = ['GL','GLi','GLo','GR','GRi','GRo','P','PC','PLG','PLS','PLT','PLW','PPL','PPLi','PPLo'
                 ,'PPR','PPRi','PPRo','PRG','PRT','PRW']

In [132]:
gunner_blockers = ['VL','VLi','VLo','VR','VRi','VRo']

In [133]:
g_pre_snap = g_merge.loc[(g_merge['Role'].isin(gunner_blockers)) & (g_merge['Event'] == 'ball_snap')]

In [139]:
gunner_blockers_per_play = g_pre_snap.groupby(['Season_Year','GameKey','PlayID'], as_index=False)['Role'] \
    .agg({'gunner_blocker_count': 'count'})\
    .sort_values('gunner_blocker_count', ascending =False)

In [145]:
gunner_blockers_merged = gunner_blockers_per_play.merge(play_info, how ='left', on = ['Season_Year','GameKey','PlayID'])

In [146]:
gunner_blockers_merged['fair_catch'] = gunner_blockers_merged.PlayDescription.str.contains('fair catch')

In [150]:
gunner_summary = gunner_blockers_merged.groupby(['gunner_blocker_count'], as_index = False)['fair_catch'].agg([sum,'count'])

In [153]:
gunner_summary['perc'] = gunner_summary['sum'] / gunner_summary['count']

In [154]:
gunner_summary

                        sum  count      perc
gunner_blocker_count
1                      10.0     31  0.322581
2                     460.0   1351  0.340489
3                     151.0    751  0.201065
4                      31.0    236  0.131356
5                       0.0      1  0.000000

In [168]:
gunner_summary_injury = gunner_blockers_merged.merge(video_footage_injury, how='inner', 
                             left_on = ['Season_Year','GameKey','PlayID'],
                            right_on = ['season','gamekey','playid']) \
                            .groupby(['gunner_blocker_count'], as_index = False)['fair_catch'].agg([sum,'count'])

In [169]:
gunner_summary_injury['perc'] = gunner_summary_injury['sum'] / gunner_summary_injury['count']

In [170]:
gunner_summary_injury

                        sum  count      perc
gunner_blocker_count
2                     False      4  0.000000
3                      True      6  0.166667
4                     False      3  0.000000

In [156]:
video_footage_injury.head()

,season,Type,Week,Home_team,Visit_Team,Qtr,PlayDescription,gamekey,playid,PREVIEW LINK (5000K)
0,2016,Pre,2,Chicago Bears,Denver Broncos,3,(3:44) (Punt formation) P.O'Donnell punts 58 y...,5,3129,http://a.video.nfl.com//films/vodzilla/153233/...
1,2016,Pre,3,Tennessee Titans,Carolina Panthers,3,(5:52) (Punt formation) K.Redfern punts 36 yar...,21,2587,http://a.video.nfl.com//films/vodzilla/153234/...
2,2016,Pre,3,Washington Redskins,New York Jets,1,"(4:46) L.Edwards punts 51 yards to WAS 27, Cen...",29,538,http://a.video.nfl.com//films/vodzilla/153235/...
3,2016,Pre,4,New York Jets,New York Giants,2,"(8:29) B.Wing punts 44 yards to NYJ 10, Center...",45,1212,http://a.video.nfl.com//films/vodzilla/153236/...
4,2016,Pre,5,Detroit Lions,Buffalo Bills,1,"(:38) C.Schmidt punts 46 yards to DET 8, Cente...",60,905,http://a.video.nfl.com//films/vodzilla/153237/...

In [182]:
play_player_role.loc[(play_player_role.Season_Year == 2016) & (play_player_role.GameKey == 280)
                     & (play_player_role.PlayID == 2918)]

        Season_Year  GameKey  PlayID  GSISID  Role
11350          2016      280    2918   26725   PRG
12552          2016      280    2918   27654    GL
19108          2016      280    2918   28029  PDR2
19998          2016      280    2918   28069    GR
31610          2016      280    2918   29304     P
39810          2016      280    2918   29510  PDR3
40499          2016      280    2918   31491  PDL2
53446          2016      280    2918   29959   PLS
65871          2016      280    2918   31075  PDL1
66795          2016      280    2918   31085  PDL4
85676          2016      280    2918   31600   VRi
87408          2016      280    2918   32171   PLG
87660          2016      280    2918   32120   PLW
90198          2016      280    2918   31688   VRo
92066          2016      280    2918   31731   PPR
92536          2016      280    2918   31743    VL
98410          2016      280    2918   32050  PDL3
100062         2016      280    2918   33127    PR
100567         2016      280    2918   32968   PRT
120414         2016      280    2918   32525   PRW
125920         2016      280    2918   32725  PDR1
128105         2016      280    2918   32864   PLT

In [280]:
test_play = NGS_2016.loc[(NGS_2016.GameKey == 280) & (NGS_2016.PlayID == 2918)]\
    .sort_values('Time').reset_index(drop=True)

In [281]:
from datetime import datetime

In [282]:
single_play_events = NGS_2016.loc[(NGS_2016.GameKey == 280) & (NGS_2016.PlayID == 2918)]\
    .groupby(['Time','Event'], as_index=False)\
    .count().sort_values('Time')

single_play_events['datetime'] = pd.to_datetime(single_play_events['Time'], format='%Y-%m-%d %H:%M:%S.%f')

In [283]:
test_play['Time'] = pd.to_datetime(test_play['Time'], format='%Y-%m-%d %H:%M:%S.%f')

In [295]:
val = single_play_events.loc[single_play_events.Event == 'punt']['datetime']  \
              - pd.Timedelta(seconds=2)

In [304]:
import math

In [309]:
from scipy.spatial import distance

In [337]:
def euclid_distance(x1, y1, x2, y2):
  # Euclidean distance between points.
    dist = math.sqrt((x1 - x2)**2 + (y1 - y2)**2)
    return dist

In [338]:
test_returner = test_play.loc[(test_play.Event == 'fair_catch') & (test_play.GSISID == 33127)].reset_index(drop=True)

In [339]:
test_returner['x'][0], test_returner['y'][0]

(40.630001068115227, 33.330001831054695)

In [340]:
test_players = test_play.loc[test_play.Time ==val.reset_index(drop=True)[0]].reset_index()

In [341]:
dist_lst = []
for i in range(0, len(test_players)):
    coords = test_players['x'][i], test_players['y'][i]
    dist = euclid_distance(test_returner['x'][0], test_returner['y'][0], coords[0], coords[1])
    dist_lst.append(dist)

In [342]:
test_players['dist_lst'] = dist_lst

In [343]:
test_players

,index,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event,dist_lst
0,3623,2016,280,2918,32864.0,2016-12-18 20:20:50.300,90.400002,27.950001,0.05,163.919998,99.690002,NaN,50.059938
1,3624,2016,280,2918,33127.0,2016-12-18 20:20:50.300,30.549999,30.309999,0.04,350.970001,45.660000,NaN,10.522683
2,3625,2016,280,2918,31085.0,2016-12-18 20:20:50.300,88.720001,30.600000,0.08,8.160000,113.750000,NaN,48.167427
3,3626,2016,280,2918,28069.0,2016-12-18 20:20:50.300,90.739998,45.450001,0.02,179.940002,284.640015,NaN,51.554885
4,3627,2016,280,2918,31600.0,2016-12-18 20:20:50.300,87.919998,10.930000,0.05,16.260000,331.739990,NaN,52.326895
5,3628,2016,280,2918,31491.0,2016-12-18 20:20:50.300,88.699997,32.860001,0.02,13.700000,114.970001,NaN,48.072294
6,3629,2016,280,2918,31688.0,2016-12-18 20:20:50.300,87.989998,9.430000,0.01,6.950000,169.110001,NaN,53.048839
7,3630,2016,280,2918,31743.0,2016-12-18 20:20:50.300,88.949997,44.910000,0.03,324.399994,282.929993,NaN,49.688211
8,3631,2016,280,2918,28029.0,2016-12-18 20:20:50.300,88.820000,26.860001,0.08,323.989990,74.000000,NaN,48.622391
9,3632,2016,280,2918,32725.0,2016-12-18 20:20:50.300,88.480003,25.320000,0.19,334.079987,69.080002,NaN,48.515800
10,3633,2016,280,2918,29304.0,2016-12-18 20:20:50.300,103.059998,29.250000,0.02,197.089996,323.519989,NaN,62.563175
11,3634,2016,280,2918,31731.0,2016-12-18 20:20:50.300,94.190002,31.100000,0.02,177.820007,158.740005,NaN,53.606405
12,3635,2016,280,2918,32525.0,2016-12-18 20:20:50.300,92.050003,31.770000,0.02,191.830002,76.250000,NaN,51.443661
13,3636,2016,280,2918,29510.0,2016-12-18 20:20:50.300,88.080002,28.340000,0.07,316.779999,262.470001,NaN,47.711662
14,3637,2016,280,2918,32050.0,2016-12-18 20:20:50.300,88.239998,31.780001,0.05,337.540009,290.040009,NaN,47.635221
15,3638,2016,280,2918,31075.0,2016-12-18 20:20:50.300,88.949997,33.919998,0.05,23.389999,104.720001,NaN,48.323598
16,3639,2016,280,2918,32968.0,2016-12-18 20:20:50.300,90.610001,31.459999,0.03,174.889999,84.269997,NaN,50.014970
17,3640,2016,280,2918,27654.0,2016-12-18 20:20:50.300,90.010002,9.790000,0.01,189.259995,228.699997,NaN,54.703896
18,3641,2016,280,2918,32171.0,2016-12-18 20:20:50.300,90.519997,28.889999,0.04,164.630005,86.519997,NaN,50.087177
19,3642,2016,280,2918,29959.0,2016-12-18 20:20:50.300,89.519997,29.879999,0.02,169.339996,92.889999,NaN,49.011572
20,3643,2016,280,2918,32120.0,2016-12-18 20:20:50.300,92.279999,27.540001,0.01,162.830002,90.480003,NaN,51.973516
21,3644,2016,280,2918,26725.0,2016-12-18 20:20:50.300,90.260002,30.730000,0.07,202.279999,96.070000,NaN,49.698058

In [250]:
single_play_events['datetime'] + pd.Timedelta(seconds=2)

0   2016-12-18 20:20:37.600
1   2016-12-18 20:20:49.300
2   2016-12-18 20:20:52.200
3   2016-12-18 20:20:54.300
4   2016-12-18 20:20:59.400
5   2016-12-18 20:21:17.400
Name: datetime, dtype: datetime64[ns]

In [227]:
datetime.strptime('2016-12-18 20:20:35.600', '%Y-%m-%d %H:%M:%S.%f')

datetime.datetime(2016, 12, 18, 20, 20, 35, 600000)

In [212]:
NGS_2016.Event.value_counts()

play_submit                 93577
punt_play                   61205
ball_snap                   52983
punt                        52437
line_set                    50806
punt_received               23499
tackle                      18051
penalty_flag                17283
fair_catch                  14863
out_of_bounds                9931
penalty_accepted             9238
punt_downed                  7862
touchback                    3486
huddle_start_offense         2050
fumble                       1968
huddle_break_offense         1861
fumble_offense_recovered     1570
timeout_tv                   1487
fumble_defense_recovered     1021
man_in_motion                 753
touchdown                     512
shift                         419
penalty_declined              322
punt_blocked                  285
punt_fake                     265
kick_received                 221
run                           199
pass_forward                  155
pass_outcome_caught           111
pass_lateral                   88
timeout_home                   86
safety                         80
timeout_injury                 48
pass_outcome_incomplete        45
kick_recovered                 44
two_minute_warning             43
field_goal_play                22
handoff                        22
Name: Event, dtype: int64